@charset "utf-8";

@import url(../scss/mediaQuery/sub_media.scss);

@mixin titBx {
    line-height: 18px;
    padding-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}

@mixin infoBx {
    margin-left: 10px;
    font-size: 11px;
    line-height: 15px;
    padding-top: 2px;
}

@mixin writerBx {
    border-bottom: 1px solid #f3f3f3;
    padding: 12px 2px 15px 2px;
    margin: 0 10px;
}

@mixin reviewList {
    width: 215px;
    cursor: pointer;
    border: 1px solid #e5e5e5;
}

@mixin imgBx {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 서브페이지 SCSS - sub.scss */
.container {
    background-color: #fff;
    max-width: 1800px;
    display: flex;
    justify-content: center;
}

main {
    padding-top: 80px;
    /* 메인 최소높이 */
    min-height: 100vh;
}

.pagewrap {
    width: 80%;
}

/* 상단 lnb */
.cate_main_tit {
    padding: 42px 0 47px 0;

    .tit_depth1 {
        display: inline-block;
    }
}

.tit_depth1 > h3,
.tit_depth1 > span {
    display: inline-block;
    vertical-align: middle;
    font-size: calc(min(22px, 5.8vw));
    font-weight: 600;
    font-family: var(--shoopen-font-eng);
}

/* 카테고리 */
.catmenu {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
}

.catmenu > a {
    display: inline-block;
}

.catmenu > a > span {
    display: inline-block;
    background-color: #eee;
    padding: 9px 14px;
    border-radius: 32px;
    font-weight: 400;
    line-height: 13px;
    font-size: calc(min(12px, 3.5vw));
}

.catmenu a+a {
    margin-left: 8px;
}

.catmenu > a.on span {
    background-color: #18345b;
    color: #fff;
}

.tit_depth1 > span::before,
.catmenu::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: url(../../public/images/icon/ico_top_arrow.png) no-repeat;
    width: 12px;
    height: 18px;
    margin: 0 15px;
}

/* 상품 옵션 선택박스 */
.prd-cat-option {
    border-top: 4px solid #000;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .mo_sorting {
        display: none;
        position: relative;
        width: calc(min(110px, 30vw));
        height: 35px;
        border-radius: 2px;
        border: 1px solid #c4c4c4;
        cursor: pointer;
        background: url(/public/images/icon/ico_arrow_set.png) no-repeat;
        background-position: 86px 15px;
        
        // MO 전용 상품 필터메뉴
        button {
            display: flex;
            align-items: center;
            width: inherit;
            height: inherit;
            padding-left: 15px;
            font-size: calc(min(13px, 3.4vw));
        }

        #sort_btn {
            position: absolute;
            top: 40px;
            width: 100%;
            z-index: 1;
            background-color: #fff;
            border: 1px solid #c4c4c4;
            // 처음엔 숨김
            display: none;

            li {
                padding: 5px 15px;
                font-size: calc(min(13px, 3.4vw));
            }
        }
    }

    /* 상품 정렬탭 */
    .option-left {
        display: flex;
        white-space: nowrap;

        li > a {
            font-size: 1.4rem;
            font-weight: 400;
            color: #666;

            &:hover {
                color: #000;
                border-bottom: 1px solid #000;
            }
        }

        li+li {
            position: relative;
            margin-left: 20px;
            padding-left: 21px;
        }
    }

    /* 상품카운트 & 필터 드롭박스 */
    .option-right {
        white-space: nowrap;
        display: flex;
        align-items: center;

        .prd_count {
            padding: 0 20px 0 10px;
    
            p {
                font-size: calc(min(16px, 3.9vw));
            }
    
            strong {
                font-size: calc(min(21px, 4.9vw));
            }
        }
    }
}

.prd_filter_bx {
    padding: 0 17px 0 40px;
    position: relative;

    > button {
        background: url(/public/images/icon/ico_filter.png) no-repeat 100% 50%;
        padding-right: 40px;
        position: relative;
        font-size: calc(min(13px, 3.9vw));
    }

    &::before {
        content: '';
        position: absolute;
        left: 15px;
        top: 3px;
        width: 1px;
        height: 14px;
        background: #c4c4c4;
    }
}

/* 상품 필터 박스 */
.filter_layer {
    position: absolute;
    top: -13px;
    right: 0;
    width: calc(min(710px, 80vw));
    padding: 50px 40px 30px;
    background: #fff;
    border: 1px solid #000;
    z-index: 10;
    user-select: none;
    display: none;
    overflow: hidden;

    .filter_search {
        table {
            display: block;

            td {
                padding: 15px 0;
                border-bottom: 1px solid #ddd;  
            }
    
            th {
                text-align: left;
                font-size: 1.6rem;
                border-bottom: 1px solid #ddd;
            }
        }
    }
    
    /* 상품 필터 박스 닫기버튼 */
    .close_btn {
        position: absolute;
        right: 19px;
        top: 14px;
        background: url(/public/images/icon/ico_filter_close.png) no-repeat 100% 50%;
        padding-right: 40px;
        line-height: 21px;
    }
}

.chkbx {
    position: relative;
    display: inline-block;
}

/* 사이즈 체크박스 */
.chkbx > input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.chkbx+label {
    margin-left: 5px;
}

/* 체크박스 체크표시 */
.chkbx > input:checked+span {
    background-position: 0 -15px;
}

.chkbx > span {
    display: block;
    width: 15px;
    height: 15px;
    background: url(../../public/images/icon/checkbox.png) no-repeat left top;
}

/* 사이즈 출력값 */
.filter_size {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}

.filter_size > li {
    margin: 5px 0;
    width: 60px;
}

.filter_size > li > span {
    vertical-align: top;
}

.filter_size > li > label {
    font-family: var(--shoopen-font-eng);
    font-size: 1.3rem;
}

.filter_price {
    display: flex;
    position: relative;
    gap: 50px;
    align-items: center;
    padding: 5px 0;

    #filter_price_view {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(min(214px, 60vw));
        font-size: calc(min(14px, 3.4vw));

        input {
            width: calc(min(64px, 17vw));
            height: 40px;
            text-align: center;
            border: 1px solid #ddd;
        }

        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }
}

.filter_color {
    display: flex;
    flex-wrap: wrap;

    li {
        margin: 5px 0;
        width: 105px;

        div {
            display: flex;
            align-items: center;
        }
    }
}

.filter_color > li.on button::after {
    content: '';
    position: absolute;
    border: 2px solid #000;
    width: 31px;
    height: 31px;
    transform: translate(-50%,-50%);
}

/* 상품 가격 슬라이더 */
.slider {
    position: relative;
    width: calc(min(238px, 55vw));
    height: 4px;
    background: #ddd;
}

.slider .progress {
    position: absolute;
    height: 4px;
    left: 0;
    right: 0;
    background: #000;
}

.range_input {
    position: relative;
}

.range_input > input {
    position: absolute;
    top: -8px;
    width: 100%;
    height: 20px;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    pointer-events: none;
    background: none;
    z-index: 1;
}

.range_input > input[type="range"]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    -webkit-appearance: none;
    pointer-events: auto;
    background: url(../../public/images/icon/icon_range.png) no-repeat 0 0;
}

.filter_color button {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 1px solid #ddd;
}

.filter_color button+span {
    margin-left: 5px;
    font-family: var(--shoopen-font-eng);
    font-size: 1.3rem;
}

/* 상품 필터 박스 하단 버튼 */
.btn_wrap {
    text-align: center;
    padding-top: 30px;

    > a {
        display: inline-block;
        width: 50%;
        height: 40px;
        line-height: 40px;
        font-size: 1.3rem;
        vertical-align: bottom;
    }

    /* 상품 필터 박스 버튼 - 하단 왼쪽 */
    .btn_style01 {
        border: 1px solid #000;
        background: #fff;
    }

    /* 상품 필터 박스 버튼 - 하단 오른쪽 */
    .btn_style02 {
        background: #000;
        color: #fff;
    }
}

/* 상품리스트 */
.prdwrap {
    padding: 0 0 5%;
}

.ui-col4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 27px;
}

.ui-col4 > li {
    position: relative;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.ui-col4 > li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 10px;
}

.ui-prod-bx,
.prodbx {
    position: relative;
    overflow: hidden;
}
.prod-detail {
    margin-top: 10px;
}
.prod-detail-img, .prod_img {
    width: auto;
    aspect-ratio: 1/1.3;
}

/* 상품 찜하기 */
.ui-col4 > li:hover .product_like > button,
.prod_cont li:hover .product_like > button {
    opacity: 1;
    transform: translateY(0);
}
.ui-prod-bx .product_like,
.prodbx .product_like {
    position: absolute;
    bottom: 15px;
    right: 5px;
}

.ui-prod-bx .product_like > button,
.prodbx .product_like > button {
    color: #bbb;
    padding: 1rem;
    border: 1px solid #bbb;
    border-radius: 50%;
    font-size: 1.2rem;
    transform: translateY(50%);
    transition: all .4s ease-in-out;
    opacity: 0;
}

/* 클래스 on */
.ui-prod-bx .product_like.on > button,
.prodbx .product_like.on > button {
    color: #ff4465;
    border: 1px solid #ff4465;
}

.ui-prod-bx .prod-txt > strong {
    font-size: 1.3rem;
}

.ui-prod-bx .prod-txt > p {
    font-size: 1.4rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* 상품디테일 박스 */
.original-price > em {
    text-decoration: line-through;
    color: #999;
    font-size: calc(min(16px, 4vw));
    font-family: var(--shoopen-font-eng);
}

.discount-price > em {
    font-size: calc(min(20px, 5vw));
    font-weight: 500;
    font-family: var(--shoopen-font-eng);
}

.discount-price > span {
    vertical-align: 1px;
    font-size: 1.4rem;
}

.discount-price {
    display: inline-block;
    letter-spacing: -1px;
}

.percent-price {
    float: right;

    em {
        font-style: normal;
        font-size: calc(min(22px, 5vw));
        color: red;
        font-family: var(--shoopen-font-prodtxt);
    }
}

.star {
    display: inline-block;
    background: url(../../public/images/icon/ico_grade.png) no-repeat 0 -12px;
    width: 60px;
    height: 12px;
    margin-top: 10px;

    span {
        color: #949494;
        font-size: calc(min(12px, 3vw));
        font-weight: 400;
        margin-left: 65px;
        position: absolute;
    }
}

/* new/best 상품페이지 */
.prod_container {
    max-width: 1800px;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.prod_inner {
    padding: 50px 0;
    width: 80%;

    h2 {
        text-align: center;
        font-size: calc(min(50px, 10vw));
        font-weight: 800;
        margin-bottom: 30px;
        font-family: var(--shoopen-font-title);
    }
}

.prod_cont > ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    li {
        cursor: pointer;
    }
}

/* 상품리스트 */
.prod_tab > ul {
    display: flex;

    li {
        flex: 1;
        height: 62px;
        line-height: 62px;
        text-align: center;
        background: #FAFAFA;
        border: 1px solid #E1E1E1;
        border-bottom: 3px solid #000;
        color: #505050;
        cursor: pointer;
        user-select: none;

        a {
            font-size: calc(min(16px, 3.5vw));
        }
    }
}

.prodbx img {
    width: 100%;
    height: 100%;
}

/* 상품 정보 */
.prod_txt {
    font-size: calc(min(14px, 3.2vw));

    p {
        padding: 4px 0 5px;
        letter-spacing: -1.5px;
        font-family: var(--shoopen-font-prodtxt);
    }
}

/* 클래스 on */
.prod_tab li.on {
    background-color: #fff;
    border: 2px solid #191919;
    border-bottom: transparent;
    font-weight: 700;
}

.prod_cont {
    margin-top: 30px;
}

.btnwrap {
    margin-top: 30px;
}

.more_btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    min-width: 200px;
    height: 60px;
    line-height: 60px;
    font-size: calc(min(16px, 3.7vw));
    letter-spacing: -.8px;
    background-color: #111;
    color: #fff;
    cursor: pointer;
}

/* 게시판 */
/* 이벤트 안내박스 */
.event_info {
    img {
        width: 100%;
    }
}

/* 수상자 안내박스 */
.winner_info {
    margin-bottom: 90px;

    .winner_head {
        text-align: center;

        p {
            font-weight: 500;
            font-size: 24px;
            margin: 20px auto;
        }
    }

    .winner_cont {
        display: flex;
        justify-content: center;

        .prize_bx {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px 48px;
            padding: 10px 25px;

            p:first-child {
                width: 42px;
                height: 42px;
                background: #ffed61;
                padding: 10px;
                margin: 0px 10px;
                border-radius: 50%;
                color: #000;
                text-align: center;
                
                font-size: 13px;
                font-weight: 600;
            }

            p:last-child {
                font-size: 16px;
                font-weight: 500;
                padding: 10px 20px;
                border-radius: 7px;
                background: #ffed6159;
            }
        }
    }

    .winner_body {
        .reviews_gal {
            display: flex;
            justify-content: center;
            gap: 40px;
        }
        .reviews {
            @include reviewList;

            .review_thumb {
                height: 237px;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            
            .review_author {
                @include writerBx;

                .review_tit {
                    @include titBx;
                }

                .reviewr_name {
                    font-size: 11px;
                    padding: 8px 0;
                }
            }

            .review_prd {
                display: flex;
                padding: 13px 11px;

                .thumb_bx {
                    width: 33px;
                    height: 33px;

                    img {
                        @include imgBx;
                    }
                }

                .info_bx {
                    @include infoBx;

                    .prd_det {
                        span {
                            color: #767676;
                            font-weight: 400;
                        }

                        strong {
                            padding: 0 12px 0 3px;
                            color: #333;
                        }
                    }
                }
            }
        }
    }
}

/* 리뷰타입 선택탭 */
.view_type {
    width: 70vw;
    margin: 0 auto;
    border-bottom: 1px solid #000;

    div {
        display: inline-block;
        border: 1px solid #c4c4c4;
        width: 210px;
        text-align: center;
        padding: 14px 0;
        font-size: 14px;
        cursor: pointer;
    }
}

/* 클래스 on */
.view_type > div.on {
    border: 1px solid #000;
    border-bottom: none;

    a {
        font-weight: 600;
    }
}

/* 리뷰리스트 */
.reviews_body {
    width: 70vw;
    margin: 0 auto;
    padding-bottom: 80px;

    ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        li {
            @include reviewList;

            .review_thumb {
                height: 260px;
                width: 215px;

                img {
                    @include imgBx;
                }
            }

            .review_author {
                @include writerBx;

                .review_tit {
                    @include titBx;
                }

                .reviewr_name {
                    font-size: 11px;
                }

                .review_more {
                    color: #888;
                    width: fit-content;
                    font-size: 12px;
                    display: none;

                    .more_arrow {
                        stroke: #cccccc;
                        width: 8px;
                        height: 8px;
                        margin-left: 4px;
                    }
                }
            }

            .review_prd {
                display: flex;
                padding: 13px 11px;

                .thumb_bx {
                    width: 33px;
                    height: 33px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .info_bx {
                    @include infoBx;

                    .prd_det {
                        span {
                            color: #767676;
                            font-weight: 400;
                        }

                        strong {
                            padding: 0 12px 0 3px;
                            color: #333;
                        }
                    }
                }
            }
        }

    }
}

.reviews_filter {
    margin: 35px auto 15px;

    .dropdown {
        display: flex;
        align-items: center;
        font-size: 14px;
        width: fit-content;
        margin: 0 auto;

        /* 버튼 공통 */
        .btn {
            font-size: 14px;
            margin: 0 5px;
        }

        .op1Btn {
            width: 177px;
            text-align: left;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        /* 옵션1 박스 */
        .opt1 {
            width: 177px;

            .dropdown-item {
                font-size: 12.5px;
            }
        }
        
        /* 옵션2 박스 */
        .opt2bx {
            button {
                width: 100px;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .opt2 {
                width: 70px !important;
    
                .dropdown-item {
                    font-size: 12.5px;
                }
            }
        }
    }
}

.reviews_options_search {
    text-align: center;

    .review_my_options {
        display: flex;
        justify-content: center;
        gap: 25px;
        margin: 10px auto 30px;

        .opt3bx, .opt4bx, .opt5bx {
            width: 120px;

            button {
                width: 100%;
                text-align: left;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 14px;
            }

            .userOpt {
                background: #555;
            }

            ul {
                width: 100%;

                li {
                    a {
                        font-size: 12.5px;
                    }
                }
            }
        }
    }
}