@charset "utf-8";

/* 서브 미디어쿼리 SCSS - sub_media.scss */
@media screen and (max-width: 900px) {
    // 상품리스트
    .prod_cont > ul,
    .ui-col4 {
        grid-template-columns: repeat(3, 1fr) !important;
    }
    .prd-cat-option > ul {
        display: none !important;
    }
    .mo_sorting {
        display: block !important;
    }
}

@media screen and (max-width: 840px) {
    .filter_search tr {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 730px) {
    .filter_price {
        flex-direction: column;
        align-items: normal !important;
        gap: 15px !important;
        width: fit-content;
    }
    .filter_price #filter_price_view {
        width: 100% !important;
    }
    .filter_color li {
        width: auto !important;
    }
    .filter_color {
        gap: 15px;
    }
}

@media screen and (max-width: 600px) {
    // 상품리스트
    .prod_cont > ul,
    .ui-col4 {
        grid-template-columns: repeat(2, 1fr) !important;
    }
    .cate_main_tit {
        display: flex;
        flex-direction: column;

        .catmenu::before {
            display: none !important;
        }
    }
}

@media screen and (max-width: 500px) {
    .prd-cat-option {
        align-items: normal !important;
        flex-direction: column;
        justify-content: center !important;
    }
    .prd-cat-option .option-right {
        justify-content: right;
    }
}

@media screen and (max-width: 350px) {
    .mo_sorting {
        background-position: 80px 15px !important;
    }
}

@media screen and (max-width: 340px) {
    .mo_sorting {
        background-position: 75px 15px !important;
    }
}

@media screen and (max-width: 312px) {
    .mo_sorting {
        background-position: 70px 15px !important;
    }
}
